<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="murr.ga" >
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:label="murr.ga"
		android:resizeableActivity = "true">
		<activity
			android:name=".MainActivity"
			android:label="murr.ga" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
